.DS_Store
compileserver/binaries/*
compileserver/gccresults/*
compileserver/objdumpresults/*
src/riscv/inst.js

# NPM
node_modules/

# Latex
*.aux
*.fdb*
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.bib
*.blg